.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.DS_Store

*.Rproj

data_copy/**
data/*.RData
mwas/**/**/**/*.csv
mwas/*.DS_Store
mwas/**/**/**/*.RData
mwas/**/.DS_Store
mwas/**/**/**/*.jpg
mwas/**/**/.DS_Store
mwas/**/**/**/.DS_Store